In [39]:
AWS_ACCESS_KEY_ID="ASIAZQ3DQHWGF3K7RIP6"
AWS_SECRET_ACCESS_KEY="eH3dRh4HgSnIXmOzGCIXbSs68ylGekdcvItwwRhN"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEDYaCWV1LXdlc3QtMiJIMEYCIQDZoWIkhDPIWO5prouljDB0pNvKaGKpEoUbH/IUT7RpJAIhALLJAEoquJEdaZyLHkN0eDOJEQ4mS+rWi07jERy56AnqKpMDCI///////////wEQABoMNjU0NjU0MzI0MTA4IgycfxPaldlyXAPZ84gq5wKNbywN9bMkCIDffrW4OOV6au9XJLLIVZ2vb8z5oPBTFvC09lj4Eu2ftrqdRGWhu2T7BoVGaIPtetgncdRFnl0hTUOmSPkongxtJXCYclv/bShreT2339E0ph8KPh5QTSRfsib6g7sv+0Nkb4+wds2wXoQVxjw4l6YjJoSb6ZN+xF5E+Hwt5GMDdqgjB16HBfrhmzJABOTf/6ujIg6hwOMaPV7rujbteGqBd53725vjFqxSAz97PYXHLlJSbypCynli1f+9uIDGJZdl+qu0ZwuyO7MV7tL/Hh7gP+3HB565ofRdkc1RX+PuvsA8gbDl7kYcUba3v8/8hJKAOFon4znzsvZvXdTtaVQGx03eFryFYRNBCPsnZi89eGy3+dqHPnhDfAg8AkGmgy1zqPjj4oZBNw8T0JKJuk5xmru2lBWSycOabJ7UuE5JahSEjvzHZlbFF+V+029WAVPJJ4mFGkQsnFi9yRpRxzDY4aS4BjqlAYzPLt3/rTx51DC/BC2JqDHt7BYsfy6jpqYDF9HZwBUG6EtH/RMA7PAMnuyDuYb5CkifrX3NNq+B6FK5yM2aBtiU0rgSbK1Cmiufu/pX2Y61lf4jTfaoWGzFKd3MgtKDEhB5MLdLEm8/JFF5xJFFVkTwDvMcfAAJ79hSUN8iecPX2NwFigYwZIX3uj2vJNztNWjx30SOyo9VzqG5ja9AxE0Fyg276A=="

In [40]:
AWS_ACCOUNT_ID = "654654324108"
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"

In [41]:
from datetime import datetime, timedelta

BASELINE_DATE = "2024-10-07"
NEXT_DATE = (datetime.strptime(BASELINE_DATE, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d")

In [42]:
query = """
WITH LatestSupplierStock AS (
    SELECT 
        part_number, 
        supplier, 
        quantity, 
        updated_date,
        ROW_NUMBER() OVER (PARTITION BY part_number, supplier ORDER BY updated_date DESC) AS rn
    FROM 
        "rtg_automotive"."supplier_stock"
)

SELECT 
    p.part_number, 
    s.quantity, 
    s.updated_date, 
    p.supplier,
    p.custom_label 
FROM 
    "rtg_automotive"."product" p
LEFT JOIN 
    LatestSupplierStock s 
ON 
    s.part_number = p.part_number 
AND 
    s.supplier = p.supplier 
WHERE 
    s.rn = 1;
"""

In [43]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'part_number'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}]}, {'Data': [{'VarCharValue': 'BU1207'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1207'}]}, {'Data': [{'VarCharValue': 'BU1208'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1208'}]}, {'Data': [{'VarCharValue': 'BU1209'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1209'}]}, {'Data': [{'VarCharValue': 'BU1210'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1210'}]}]

In [44]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [45]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [46]:
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [47]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [48]:
import os

# Create the directory if it doesn't exist
output_directory = f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}"
os.makedirs(output_directory, exist_ok=True)

df.to_csv(f"{output_directory}/ebay.csv", index=False)

In [49]:
def read_excel_sheets(file_path, sheet_names):
    excel = pd.ExcelFile(file_path)
    return {sheet: pd.read_excel(excel, sheet_name=sheet) for sheet in sheet_names}


def process_dataframe(df):
    df = df.iloc[:, :4]
    df.columns = ["custom_label", "part_number", "supplier", "quantity"]
    df.dropna(subset=["part_number", "supplier", "quantity"], inplace=True)
    df["part_number"] = df["part_number"].astype(str)
    df["quantity"] = df["quantity"].astype(int)
    return df

sheet_names = ["Direct", "FPS"]
dfs = read_excel_sheets(f"/Users/chrislittle/Dropbox/#Speedsheet/stock_master/{NEXT_DATE.replace('-', '_')}/Stock Feed Master.xlsx", sheet_names)
processed_dfs = [process_dataframe(df) for df in dfs.values()]
df_stock = pd.concat(processed_dfs)

In [50]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [51]:
inspect_df = pd.merge(df, df_stock, on="custom_label", how="left")

In [52]:
df

       part_number  quantity updated_date supplier    custom_label
0           BU1207        10   2024-10-07      BGA  UKD-BGA-BU1207
1           BU1208         0   2024-10-07      BGA  UKD-BGA-BU1208
2           BU1209        10   2024-10-07      BGA  UKD-BGA-BU1209
3           BU1210         0   2024-10-07      BGA  UKD-BGA-BU1210
4           BU1211         0   2024-10-07      BGA  UKD-BGA-BU1211
...            ...       ...          ...      ...             ...
253204      775114         4   2024-10-07      FPS  UKF-NRF-775114
253205      775115         4   2024-10-07      FPS  UKF-NRF-775115
253206      31754B         2   2024-10-07      FPS  UKF-NRF-31754B
253207       34238         0   2024-10-07      FPS   UKF-NRF-34238
253208      350362         2   2024-10-07      FPS  UKF-NRF-350362

[253209 rows x 5 columns]

In [53]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [54]:
inspect_df["difference"] = inspect_df["quantity_y"] - inspect_df["quantity_x"]

In [57]:
inspect_df[inspect_df["difference"] != 0].dropna(subset=["difference"])

,part_number_x,quantity_x,updated_date,supplier_x,custom_label,part_number_y,supplier_y,quantity_y,difference
467,BU6305,10,2024-10-07,BGA,UKD-BGA-BU6305,BU6305,BGA,0.0,-10.0
918,CH0102B,4,2024-10-07,BGA,UKD-BGA-CH0102B,CH0102B,BGA,3.0,-1.0
1113,CH1400C,10,2024-10-07,BGA,UKD-BGA-CH1400C,CH1400C,BGA,1.0,-9.0
1116,CH1402A,6,2024-10-07,BGA,UKD-BGA-CH1402A,CH1402A,BGA,0.0,-6.0
1117,CH1402B,10,2024-10-07,BGA,UKD-BGA-CH1402B,CH1402B,BGA,0.0,-10.0
...,...,...,...,...,...,...,...,...,...
252617,59217,4,2024-10-07,FPS,UKF-NRF-59217,59217,FPS,3.0,-1.0
252623,59223,3,2024-10-07,FPS,UKF-NRF-59223,59223,FPS,2.0,-1.0
252654,59264,2,2024-10-07,FPS,UKF-NRF-59264,59264,FPS,1.0,-1.0
252704,59354,2,2024-10-07,FPS,UKF-NRF-59354,59354,FPS,1.0,-1.0
253202,775110,4,2024-10-07,FPS,UKF-NRF-775110,775110,FPS,3.0,-1.0

In [55]:
inspect_df[inspect_df["difference"] != 0].dropna(subset=["difference"]).to_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}/inspect.csv", index=False)