In [157]:
AWS_ACCESS_KEY_ID="ASIA5FTZD5RYBH2BIEJB"
AWS_SECRET_ACCESS_KEY="pjn1YRW7N4/DoDcZ8H82fbaYPv1D7ENP1PSKwv4n"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEH8aCWV1LXdlc3QtMiJIMEYCIQCXDjTUwb22N97XfF5tvpDdQ+UUoH3BDvGscv40B+ehtgIhAOZCChT49/HrDFb8S4pIEq2FKoMcBN19lDr4da1CQxISKpMDCNj//////////wEQABoMOTA1NDE4MzcwMTYwIgwCr1aE0gNA0OcFrukq5wJj53n7GhQbv9J9B1d61ZfuJHkVh7OPlxBrNHS2o3BicIavhA3vE/yz/HpK0/1qFglIppk9p7tvA7yCD45F9g4TuT643QBcg9gz0s9v8gzUiDqkJJsJXK+N/vg/RiZNHuQu3381MFAR3tRBTXC1iUeWjaTpQYLAV5bCHlfLjCdGZ2p3kHk63FkBWU6mI+7NAjvQo/oiO95waLEocXAhylAmEDvxGXDHqQgA7SlhmOHzlksDJ3ORT0bm9/W+PobQPFo9bKD/dYdqapmLgHdEVYqpucHlM5rBgYHO+Nyok/5ume5ad4re+EV2dNfxC4Bp8h1lYAaHsn4P0ENofK9fy1JogpcVERQSAItWF4NR5ON6OyQfNsw89J1pn9qYFNTkU4tleLmZQTTPrugIqoQRGeKXogzOYIt8esQOj8HQ89tqAvRHHGW/RYZI5Du5qjisr6nqSqLRJVDaXh/dkhsk4E6FTFWfRYs3DzDk5LS4BjqlAXGiA6jmESn3OSnUz17zMtFeKsP+z7TvlvVK1Y8uSKaHySIRGe4ouCtp0zoh3oiiD3CfG1eJGOtsry6oYU23irxH5SiAp9bHqPskZA5taohNyJG1vN2JFEndJnSxlvSBjiqNvbo+zrSIZfHqBChEEG+ku731QgQ/wV+UE0m/UTgQk4dteLNQjV/3sr2trf6sfeHGMMlj/6dDi9kGKoBjskD/qY0MaA=="

In [158]:
AWS_ACCOUNT_ID = "905418370160"
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"

In [159]:
from datetime import datetime, timedelta

STOCK_MASTER_DATE = "2024-10-08"

In [160]:
query = """
WITH LatestSupplierStock AS (
    SELECT 
        part_number, 
        supplier, 
        quantity, 
        updated_date,
        ROW_NUMBER() OVER (PARTITION BY part_number, supplier ORDER BY updated_date DESC) AS rn
    FROM 
        "rtg_automotive"."supplier_stock"
)

SELECT 
    p.part_number, 
    s.quantity, 
    s.updated_date, 
    p.supplier,
    p.custom_label 
FROM 
    "rtg_automotive"."product" p
LEFT JOIN 
    LatestSupplierStock s 
ON 
    s.part_number = p.part_number 
AND 
    s.supplier = p.supplier 
WHERE 
    s.rn = 1;
"""

In [161]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'part_number'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}]}, {'Data': [{'VarCharValue': 'BU1207'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1207'}]}, {'Data': [{'VarCharValue': 'BU1208'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1208'}]}, {'Data': [{'VarCharValue': 'BU1209'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1209'}]}, {'Data': [{'VarCharValue': 'BU1210'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-07'}, {'VarCharValue': 'BGA'}, {'VarCharValue': 'UKD-BGA-BU1210'}]}]

In [162]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [163]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [164]:
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [165]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [166]:
import os

# Create the directory if it doesn't exist
output_directory = f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{STOCK_MASTER_DATE.replace('-', '_')}"
os.makedirs(output_directory, exist_ok=True)

df.to_csv(f"{output_directory}/ebay.csv", index=False)

In [167]:
def read_excel_sheets(file_path, sheet_names):
    excel = pd.ExcelFile(file_path)
    return {sheet: pd.read_excel(excel, sheet_name=sheet) for sheet in sheet_names}


def process_dataframe(df):
    df = df.iloc[:, :4]
    df.columns = ["custom_label", "part_number", "supplier", "quantity"]
    df.dropna(subset=["part_number", "supplier", "quantity"], inplace=True)
    df["part_number"] = df["part_number"].astype(str)
    df["quantity"] = df["quantity"].astype(int)
    return df

sheet_names = ["Direct", "FPS"]
dfs = read_excel_sheets(f"/Users/chrislittle/Dropbox/#Speedsheet/stock_master/{STOCK_MASTER_DATE.replace('-', '_')}/Stock Feed Master.xlsx", sheet_names)
processed_dfs = [process_dataframe(df) for df in dfs.values()]
df_stock = pd.concat(processed_dfs)

In [168]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [169]:
inspect_df = pd.merge(df, df_stock, on="custom_label", how="left")

In [170]:
df

       part_number  quantity updated_date supplier     custom_label
0           BU1207        10   2024-10-07      BGA   UKD-BGA-BU1207
1           BU1208         0   2024-10-07      BGA   UKD-BGA-BU1208
2           BU1209        10   2024-10-07      BGA   UKD-BGA-BU1209
3           BU1210         0   2024-10-07      BGA   UKD-BGA-BU1210
4           BU1211         0   2024-10-07      BGA   UKD-BGA-BU1211
...            ...       ...          ...      ...              ...
253204     NWP1535         2   2024-10-07      FPS  UKF-NAP-NWP1535
253205     NWP1537         1   2024-10-07      FPS  UKF-NAP-NWP1537
253206     NWP1538         7   2024-10-07      FPS  UKF-NAP-NWP1538
253207     NWP1539         0   2024-10-07      FPS  UKF-NAP-NWP1539
253208     NWP1540        10   2024-10-07      FPS  UKF-NAP-NWP1540

[253209 rows x 5 columns]

In [171]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [172]:
inspect_df["difference"] = inspect_df["quantity_y"] - inspect_df["quantity_x"]

In [173]:
inspect_df[(inspect_df["difference"] != 0) & (inspect_df["supplier_x"] == "RTG")].dropna(subset=["difference"])

,part_number_x,quantity_x,updated_date,supplier_x,custom_label,part_number_y,supplier_y,quantity_y,difference
167569,BCC503L+BCC503R,20,2024-10-07,RTG,BCC503L+BCC503R,BCC503L+BCC503R,RTG,0.0,-20.0
167570,BCC503R,20,2024-10-07,RTG,BCC503R,BCC503R,RTG,0.0,-20.0
173084,DRK22,20,2024-10-07,RTG,DRK22,DRK22,RTG,0.0,-20.0
173450,ETC20,20,2024-10-07,RTG,ETC20,ETC20,RTG,0.0,-20.0
176824,PS56,20,2024-10-07,RTG,PS56,PS56,RTG,0.0,-20.0
176825,PS56X2,20,2024-10-07,RTG,PS56X2,PS56X2,RTG,0.0,-20.0
176826,PS56X4,20,2024-10-07,RTG,PS56X4,PS56X4,RTG,0.0,-20.0

In [174]:
inspect_df[(inspect_df["difference"] != 0) & (inspect_df["supplier_x"] == "RTG")].dropna(subset=["difference"]).to_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{STOCK_MASTER_DATE.replace('-', '_')}/inspect.csv", index=False)