In [17]:
AWS_ACCESS_KEY_ID="ASIA5FTZD5RYMFDWPW7I"
AWS_SECRET_ACCESS_KEY="qGpH+owmABC6Eo0sUv467RuseUHkCas0F8w8DYx7"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEAgaCWV1LXdlc3QtMiJHMEUCIC+RE9NCTN8dewZUZx9+QPhebiAlJcTbT+izsBTdnKe1AiEA9nyTZH6psuERxDy1uIedTcEWivJTB9w4w65oiF26rlMqigMIYRAAGgw5MDU0MTgzNzAxNjAiDA2ZHn0dAHI63ztpUCrnAqEreKxS//ksHj+WocLw3CDFyrZ0lBOh53USaNAUqbYpy8rxWC4psYpQDauL3x5KFP+pjtspnW8+Sf3FNVmp6mK+bGtOlgIzpsoitYTSXf8yFKMtqznj7I3XNeuYhi5i36yhHKjWnCZQzkkHmjNh6SxfmWfzE4Tlwoj8plgQgdusohf6Ss79Ag6HMQ+ClabZpRG70U+7pAtl4IiFM5qL+wAS6J69GJnh9gbF9EIPPuUyJ8uS9XcQmhUZqNUp/moj9WbFtaNUDeMIxRDMokbPV9EexXm/uV/y47WehvdFj4l0o7IzvPFN+di46k+Kc+HSMfY6xSyhCCMLhKILW3VWVf9OEFN/Hjwgk+ymBxKfUy56eSwqq5nw9zmC4yF2C+P08mHnQz+uamjMuKl3VqjLVbgAGnpPu+uo507Nc9XykM5x4A3zMAIJH4gS0hcoIhbk4RYzXCyZM0FMP3Odt7GEnPiFWmoFm/xPMJDVmrgGOqYBIwPi87kNL6tpV+ZFDSzBYmi4ITmLvrnC4cMgZHeh+w44bfnmE60BwTsGCLek4VpoLGK+t3SfWsrVdE8OhPDHBERI0AIVsc+6Zkxhwu1LLWRI2/cQtTxPMvGSBPWmbOE6lAO0rFnVpl2p1WZDRvvt9D27v0tVj00RIiTCnuzgPWPZ80m1F/qh78xJQgUDkBfG5Ew6L69I4wUSLrIgWMyxWfOfvIJyyQ=="

In [18]:
AWS_ACCOUNT_ID = "905418370160"
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"

In [19]:
from datetime import datetime, timedelta

BASELINE_DATE = "2024-10-07"
NEXT_DATE = (datetime.strptime(BASELINE_DATE, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d")

In [20]:
with open('src/lambda/generate_ebay_table/generate_ebay_table.sql', 'r') as file:
    query = file.read()

In [21]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'ebay_store'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'quantity_delta'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'item_id'}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR108'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR109'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR110'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}]

In [22]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [23]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [24]:
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [25]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [26]:
df

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
0,NaN,APE,UKD-APE-ABR104,10,0.0,2024-10-08,NaN
1,NaN,APE,UKD-APE-ABR108,10,0.0,2024-10-08,NaN
2,NaN,APE,UKD-APE-ABR109,10,0.0,2024-10-08,NaN
3,NaN,APE,UKD-APE-ABR110,10,0.0,2024-10-08,NaN
4,NaN,APE,UKD-APE-ABR116,10,0.0,2024-10-08,NaN
...,...,...,...,...,...,...,...
427983,NaN,SMP,UKD-SMP-WS1270,10,0.0,2024-10-08,NaN
427984,NaN,SMP,UKD-SMP-WS1280,10,0.0,2024-10-08,NaN
427985,NaN,SMP,UKD-SMP-WVL005,10,0.0,2024-10-08,NaN
427986,NaN,SMP,UKD-SMP-WVL006,10,0.0,2024-10-08,NaN
427987,NaN,SMP,UKD-SMP-WVL010,10,0.0,2024-10-08,NaN

In [27]:
import os

# Create the directory if it doesn't exist
output_directory = f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}"
os.makedirs(output_directory, exist_ok=True)

df.to_csv(f"{output_directory}/ebay.csv", index=False)

In [28]:
app_upload = df[df["quantity_delta"] > 0].dropna()

In [29]:
app_upload

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
94942,RTG,FPS,A32,1,1.0,2024-10-08,1.752274e+11
94943,RTG,FPS,A32,1,1.0,2024-10-08,1.752273e+11
94944,RTG,FPS,A32,1,1.0,2024-10-08,1.752273e+11
94945,RTG,FPS,A32,1,1.0,2024-10-08,1.752273e+11
94946,RTG,FPS,A32,1,1.0,2024-10-08,1.752224e+11
...,...,...,...,...,...,...,...
419601,RTG,RTG,X9005-80K-100W,20,20.0,2024-10-07,1.546200e+11
419602,RTG,RTG,X9005-80K-100W,20,20.0,2024-10-07,1.546200e+11
419603,RTG,RTG,X9005-80K-100W,20,20.0,2024-10-07,1.546145e+11
419604,RTG,RTG,X9005-80K-100W,20,20.0,2024-10-07,1.546145e+11
419605,RTG,RTG,X9005-80K-100W,20,20.0,2024-10-07,1.546145e+11

In [30]:
rtg_upload = pd.read_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/old_stock_uploads/{NEXT_DATE.replace('-', '_')}/SU RTG.csv").dropna()

In [31]:
rtg_upload

       Action        ItemID SiteID Currency  Quantity
0      Revise  1.548784e+11     UK      GBP      20.0
1      Revise  1.751830e+11     UK      GBP      20.0
2      Revise  1.548784e+11     UK      GBP      20.0
3      Revise  1.548784e+11     UK      GBP      20.0
4      Revise  1.751830e+11     UK      GBP      20.0
...       ...           ...    ...      ...       ...
28101  Revise  1.660463e+11     UK      GBP      20.0
28102  Revise  1.756984e+11     UK      GBP      20.0
28103  Revise  1.757268e+11     UK      GBP      20.0
28104  Revise  1.757165e+11     UK      GBP      20.0
28105  Revise  1.757268e+11     UK      GBP      20.0

[28106 rows x 5 columns]

In [32]:
inspect_df = pd.merge(app_upload, rtg_upload, left_on="item_id", right_on="ItemID", how="left")
inspect_df = inspect_df[inspect_df["ebay_store"] == "RTG"].dropna()
inspect_df["difference"] = inspect_df["quantity_delta"] - inspect_df["Quantity"]
inspect_df.to_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}/inspect_df.csv", index=False)