In [1]:
AWS_ACCESS_KEY_ID="ASIA5FTZD5RYEIDERS5Z"
AWS_SECRET_ACCESS_KEY="ZmCgiXsWIDZnLLH8xq5kmyKB11TTlaqMrYZiDT5x"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEIz//////////wEaCWV1LXdlc3QtMiJGMEQCIFz1tkk715xdmTugBn1vQsjEfBsb7ceHY6eZDzzzPbAzAiAWkpvEFZ5bSctMe48o4Kz6axhJH6VenMagQwRw3QDiECqTAwjV//////////8BEAAaDDkwNTQxODM3MDE2MCIMIXyWJJ8VnwEtvnzjKucCZ/VlM4cCZSGf1dDpvvwUPptNl3tKyF05xm6jNq2yqxkSuDtqbO4Y6msh69VSvuhrHBXTcvlmFDX9qatQIquB/Om2x6z1vDCVYpMwgDTOX2mbMnyZ32WV/RWJ7lLS5kmwdiTk12/F581ymGFLbavLpMX9ESYMEKxeeyHkfCPq8tyIxWXSCtWQ/HnNmMiv5T1tPpDEul4W2g1xCziU6J9k4aIZE8m6Z8MGBIdHeGfXqN3Y4NyTKgHHSrmAdGrrVpRPuIJR0ghyHh0NKfHWF9CrpW7k4m23qIwIOYZ3sOS+xYgV9yo2dLoKel7aO0ul3/2wdHtOk7RspiIyNV57e462kbDkAYgf/txQ2e2ZdZYzJIZ47SRyU6qP1GyxiRn/PKCFldPQRgWl+UNCyp2ZXNT4fY679YBsQbQZWZ1gt4ZS+IkyMy6o7mEdTxh+/o2ZN1k+xjDoJM4/96MWyg+WQDWDuVvWPEV3h/cw4K3/twY6pwF/QDJ/25rq5eWGBIVhE20L7vP+3aT3jMWUKMtTEttkp1DBrwbagtI+hkl31k/o5QWoaEU0rj7arnvxHdaVVcow7T03CW4xxmAhcAIHv0f0rVrWQm4LIZVfFsLmyXzITuTJt1bcrFT1ryN1wjvnqfjINWbmBgI/2qH4J4muZ1wUhrN696QU2Cvi/YadKyqDa7LpN/HAtdGgqLSUY+BLsNhF0DyQ0b4mDQ=="

In [2]:
AWS_ACCOUNT_ID = "905418370160"

In [3]:
query = """
SELECT 
    sd.ebay_store,
    rd.supplier,
    rd.custom_label,
    rd.quantity,
    COALESCE(
        MAX(CASE WHEN rd.row_number = 1 THEN rd.quantity END) - 
        MAX(CASE WHEN rd.row_number = 2 THEN rd.quantity END), 
        MAX(CASE WHEN rd.row_number = 1 THEN rd.quantity END)
    ) AS quantity_delta,
    MAX(rd.updated_date) AS updated_date,
    sd.item_id
FROM 
    (
        SELECT 
            ps.part_number,
            ps.supplier,
            ps.quantity,
            ps.updated_date,
            p.custom_label,
            ROW_NUMBER() OVER (PARTITION BY ps.supplier, p.custom_label ORDER BY ps.updated_date DESC) AS row_number
        FROM 
            "rtg_automotive"."supplier_stock" ps
        LEFT JOIN 
            "rtg_automotive"."product" p ON ps.part_number = p.part_number
    ) rd
LEFT JOIN 
    (
        SELECT custom_label, item_id, supplier, ebay_store 
        FROM "rtg_automotive"."store"
    ) sd ON rd.custom_label = sd.custom_label
GROUP BY 
    sd.item_id, rd.supplier, sd.ebay_store, rd.quantity, rd.custom_label;
"""

In [4]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'ebay_store'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'quantity_delta'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'item_id'}]}, {'Data': [{'VarCharValue': 'RTG'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-03'}, {'VarCharValue': '155322196095'}]}, {'Data': [{'VarCharValue': 'RTG'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-03'}, {'VarCharValue': '165845438409'}]}, {'Data': [{'VarCharValue': 'RTG'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-03'}, {'VarCharValue': '165846996281'}]}, {'Data': [{'VarCharValue': 'SJR'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-03'}, {'VarCharValue': '234830608249'}]}]

In [5]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [6]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [7]:
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [8]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [9]:
df

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
0,RTG,APE,UKD-APE-ABR104,10,0.0,2024-10-03,1.553222e+11
1,RTG,APE,UKD-APE-ABR104,10,0.0,2024-10-03,1.658454e+11
2,RTG,APE,UKD-APE-ABR104,10,0.0,2024-10-03,1.658470e+11
3,SJR,APE,UKD-APE-ABR104,10,0.0,2024-10-03,2.348306e+11
4,CPO,APE,UKD-APE-ABR104,10,0.0,2024-10-03,1.256761e+11
...,...,...,...,...,...,...,...
5916473,SJR,SMP,UKD-SMP-KAPS052,10,0.0,2024-10-03,2.347597e+11
5916474,MFD,SMP,UKD-SMP-KAPS065,10,0.0,2024-10-03,2.659647e+11
5916475,CPO,SMP,UKD-SMP-KAPS065,10,0.0,2024-10-03,1.255891e+11
5916476,PV,SMP,UKD-SMP-KCL007,10,0.0,2024-10-03,1.754714e+11
5916477,MFD,SMP,UKD-SMP-KCL007,10,0.0,2024-10-03,2.659647e+11

In [10]:
df.to_csv("data/app_checker/ebay.csv", index=False)

In [11]:
app_upload = df[df["quantity_delta"] > 0].dropna()

In [12]:
app_upload

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
1513,SJR,APE,UKD-APE-BCY1072,10,10.0,2024-10-03,2.253127e+11
1514,CPO,APE,UKD-APE-BCY1072,10,10.0,2024-10-03,1.448689e+11
1515,PV,APE,UKD-APE-BCY1072,10,10.0,2024-10-03,2.041946e+11
1516,PV,APE,UKD-APE-BCY1072,10,10.0,2024-10-03,2.041946e+11
2823,RTG,APE,UKD-APE-BCY1072,10,10.0,2024-10-03,1.658470e+11
...,...,...,...,...,...,...,...
5914485,MFD,SMP,UKD-SMP-CTS6047,10,10.0,2024-10-01,2.659560e+11
5914486,CPO,SMP,UKD-SMP-CTS6047,10,10.0,2024-10-01,1.155805e+11
5914487,SJR,SMP,UKD-SMP-CTS6047,10,10.0,2024-10-01,2.347524e+11
5915193,PV,SMP,UKD-SMP-EGR409,10,10.0,2024-10-03,1.754652e+11
5915194,CPO,SMP,UKD-SMP-EGR409,10,10.0,2024-10-03,1.447832e+11

In [13]:
rtg_upload = pd.read_csv("data/app_checker/rtg_upload.csv").dropna()

In [14]:
rtg_upload

       Action        ItemID SiteID Currency  Quantity
0      Revise  1.650005e+11     UK      GBP       0.0
1      Revise  1.654126e+11     UK      GBP       0.0
2      Revise  1.549323e+11     UK      GBP       0.0
3      Revise  1.752274e+11     UK      GBP       0.0
4      Revise  1.735027e+11     UK      GBP       0.0
...       ...           ...    ...      ...       ...
30647  Revise  1.557219e+11     UK      GBP       4.0
30648  Revise  1.557220e+11     UK      GBP       4.0
30649  Revise  1.758685e+11     UK      GBP       4.0
30650  Revise  1.557294e+11     UK      GBP       4.0
30651  Revise  1.662908e+11     UK      GBP       4.0

[30652 rows x 5 columns]

In [15]:
inspect_df = pd.merge(app_upload, rtg_upload, left_on="item_id", right_on="ItemID", how="left")
inspect_df = inspect_df[inspect_df["ebay_store"] == "RTG"]
inspect_df.to_csv("data/app_checker/inspect_df.csv", index=False)