In [134]:
AWS_ACCESS_KEY_ID="ASIAZQ3DQHWGKADYALUU"
AWS_SECRET_ACCESS_KEY="1i1dsfRk8brquALVHDOB9UL+bozt2AOnH94kiUVk"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEDkaCWV1LXdlc3QtMiJIMEYCIQDY1s3XT+fXhLgz6rBUjnSCPQzvVWUNIzMcUOdFdax0DgIhAItRYqw/98Ztdum/4qv7PraZsiXdOVzhk4uWyJ9QM6vbKpMDCJH//////////wEQABoMNjU0NjU0MzI0MTA4IgwdDLKtY2q7UPpVsvsq5wIq+eCotPq2sDLxBVBiDaxtIcMrinfNaZqSuGLKGOjR94kSIkKssbinequfAcz1gNf2R1msWC7q4Bc6OwqFgPvIIbPHjiGgPZu4mALzD/4y6ZFaI12umNYnolzY43LHG6QQ+Q+KP7MsliTi1jtRkoLecCn5ONkNr0T0Pc7b+LKWnanJ4fut11Mq982+ecr8figdXcyLkYMWei1swqeJOedEL1x6wqX3cf6ybYQuVPpbiO3e9jlFfLjVAR3740XG+prRi/fuV9Xf7PMH3g+alJR8hoS8yQb3oFy+RLJKMvgC9c7uBlCBkJ8xOypjJ69FhhcNvDntK/vtkjRnMFBUmlObIlbr7olwRyEpnaRnl4jOf/pngO3clSHwdaYp17wv+KpbxKN/r+uDl3xgqsi31qYcffXtdurgAIL+C4aBpb5xZhREErKnTx2te2ZqMVZNvd2kAOJtcOWJ3PKJsXlZwkNONYYdXd4+JTCGoaW4BjqlAQJoi+A9y2eNvpjKuxiMaDp0fVz8P1J9Kx3TRcQzIkEYHAhvJ5MgxZTCMOxxosZzSvOGMsThl0GCWaUpbZvysCyGHPBvQiw2BCf9YNj27EFK3Wf4rjiJ2D5P8nYrAzddoIqxFoyeBsAprU0uhsBmEIDaEEgX1Upbj6NmS1ExTN+VyJ21JzVqylWmIiq9PyDGuLn/bkKTJWoevcSgRLSu9TljKvwpRQ=="

In [135]:
AWS_ACCOUNT_ID = "905418370160"
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"

In [136]:
from datetime import datetime, timedelta

STOCK_MASTER_DATE = "2024-10-08"

In [137]:
query = """
WITH LatestSupplierStock AS (
    SELECT 
        part_number, 
        supplier, 
        quantity, 
        updated_date,
        ROW_NUMBER() OVER (PARTITION BY part_number, supplier ORDER BY updated_date DESC) AS rn
    FROM 
        "rtg_automotive"."supplier_stock"
)

SELECT 
    p.part_number, 
    s.quantity, 
    s.updated_date, 
    p.supplier,
    p.custom_label 
FROM 
    "rtg_automotive"."product" p
LEFT JOIN 
    LatestSupplierStock s 
ON 
    s.part_number = p.part_number 
AND 
    s.supplier = p.supplier 
WHERE 
    s.rn = 1;
"""

In [138]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'part_number'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}]}, {'Data': [{'VarCharValue': 'ABR101'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-08'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR101'}]}, {'Data': [{'VarCharValue': 'ABR102'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-08'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR102'}]}, {'Data': [{'VarCharValue': 'ABR103'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-08'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR103'}]}, {'Data': [{'VarCharValue': 'ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '2024-10-08'}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}]}]

In [139]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [140]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [141]:
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [142]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [143]:
import os

# Create the directory if it doesn't exist
output_directory = f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{STOCK_MASTER_DATE.replace('-', '_')}"
os.makedirs(output_directory, exist_ok=True)

df.to_csv(f"{output_directory}/ebay.csv", index=False)

In [144]:
def read_excel_sheets(file_path, sheet_names):
    excel = pd.ExcelFile(file_path)
    return {sheet: pd.read_excel(excel, sheet_name=sheet) for sheet in sheet_names}


def process_dataframe(df):
    df = df.iloc[:, :4]
    df.columns = ["custom_label", "part_number", "supplier", "quantity"]
    df.dropna(subset=["part_number", "supplier", "quantity"], inplace=True)
    df["part_number"] = df["part_number"].astype(str)
    df["quantity"] = df["quantity"].astype(int)
    return df

sheet_names = ["Direct", "FPS"]
dfs = read_excel_sheets(f"/Users/chrislittle/Dropbox/#Speedsheet/stock_master/{STOCK_MASTER_DATE.replace('-', '_')}/Stock Feed Master.xlsx", sheet_names)
processed_dfs = [process_dataframe(df) for df in dfs.values()]
df_stock = pd.concat(processed_dfs)

In [145]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [146]:
inspect_df = pd.merge(df, df_stock, on="custom_label", how="left")

In [147]:
df

       part_number  quantity updated_date supplier    custom_label
0           ABR101        10   2024-10-08      APE  UKD-APE-ABR101
1           ABR102        10   2024-10-08      APE  UKD-APE-ABR102
2           ABR103        10   2024-10-08      APE  UKD-APE-ABR103
3           ABR104        10   2024-10-08      APE  UKD-APE-ABR104
4           ABR105        10   2024-10-08      APE  UKD-APE-ABR105
...            ...       ...          ...      ...             ...
253204      339747         2   2024-10-08      FPS  UKF-KYB-339747
253205      339748         3   2024-10-08      FPS  UKF-KYB-339748
253206      339749         3   2024-10-08      FPS  UKF-KYB-339749
253207      339750         4   2024-10-08      FPS  UKF-KYB-339750
253208      339751         5   2024-10-08      FPS  UKF-KYB-339751

[253209 rows x 5 columns]

In [148]:
df_stock

         custom_label part_number supplier  quantity
0      UKD-APE-ABR101      ABR101      APE        10
1      UKD-APE-ABR102      ABR102      APE        10
2      UKD-APE-ABR103      ABR103      APE        10
3      UKD-APE-ABR104      ABR104      APE        10
4      UKD-APE-ABR105      ABR105      APE        10
...               ...         ...      ...       ...
47956  UKF-NRF-775114      775114      FPS         4
47957  UKF-NRF-775115      775115      FPS         4
47958  UKF-NRF-31754B      31754B      FPS         2
47959   UKF-NRF-34238       34238      FPS         0
47960  UKF-NRF-350362      350362      FPS         2

[259668 rows x 4 columns]

In [149]:
inspect_df["difference"] = inspect_df["quantity_y"] - inspect_df["quantity_x"]

In [150]:
inspect_df[(inspect_df["difference"] != 0) & (inspect_df["supplier_x"] == "RTG")].dropna(subset=["difference"])

,part_number_x,quantity_x,updated_date,supplier_x,custom_label,part_number_y,supplier_y,quantity_y,difference
168632,PS56,20,2024-10-07,RTG,PS56,PS56,RTG,0.0,-20.0
168633,PS56X2,20,2024-10-07,RTG,PS56X2,PS56X2,RTG,0.0,-20.0
168634,PS56X4,20,2024-10-07,RTG,PS56X4,PS56X4,RTG,0.0,-20.0

In [151]:
inspect_df[(inspect_df["difference"] != 0) & (inspect_df["supplier_x"] == "RTG")].dropna(subset=["difference"]).to_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{STOCK_MASTER_DATE.replace('-', '_')}/inspect.csv", index=False)