In [1]:
AWS_ACCESS_KEY_ID="ASIA5FTZD5RYBHGXNU5Q"
AWS_SECRET_ACCESS_KEY="+s3RTulkXG8r+yAeKFlcoBql4TxEIzMgjsbeycte"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEAYaCWV1LXdlc3QtMiJGMEQCIHEFDWen8VAl5PyROoE3RzYYP/ZWexfryw9v3BcaToiHAiBpCut7T5GoBWprdINhMfsikrXpd+3OuB8DImHXxYdciyqKAwhfEAAaDDkwNTQxODM3MDE2MCIM4jUK2Yvx37r9u2uMKucCFm6X9gBZ/SKQL5qk/UBb7klDoK3iwjuQO3VKP4QLeDpLYS2tNxLa+qLP2zBIv8Sfme/cvQT+1zByFgILJBrOwgv2us4si8KyJAk2Pov8TNED8Yg7hcwJd5N/jICM9bW/TBzec2UdD9tFUYSyh9bifebvrPZ034ONTUHNo78e/DdTxG+WEFk8zjDcZIUvhzYJguI9bxL4pjTKu21KIdBUQr/rqMNyl6d6sKOIXVNY0w5nshmwVexTNbYI2ROaKoz2EAhLqUz7hIQl87k4NIVjVot+8esy4/ei08jn2uThej0X6FPY5324JQn941CaapPawHDjVX+tOlNRefDjbdSFpTnW725d6uYuFwH0ixu14l+j2mk2DSg75ZUmTgMzOn54HEvD/U54DrN6GuQKSpSzoybfjlF8xuC2CR5Sl6G8RmldxYFm8hyWluG1bVp9RQyZ7KKLoEy1giWnpg0QBjyOq5kzWwjRk78w3oiauAY6pwFahM/9YxTT6RUKzZBoePHo/iOI+P7PmXy0uJy23G5/lCDMKwl7DIUErNxR9pciVSJpDP1GRhNPrJzKUJ6UxpO8ebn+7Wz7RK6f5uoiH5YyPe9Swi5G2zY7ershGAApTD0RQsZepnPVjJbf5Uw1OhNDyVNtJZ+7ziE9eT1H5B3WFg3vSDoZ/OyANOq4Y2lD1N8SEN3kT2M+tlOHzQHRGl2dIPWMAHOHuA=="

In [2]:
AWS_ACCOUNT_ID = "905418370160"
BUCKET_NAME = f"rtg-automotive-bucket-{AWS_ACCOUNT_ID}"

In [3]:
from datetime import datetime, timedelta

BASELINE_DATE = "2024-10-07"
NEXT_DATE = (datetime.strptime(BASELINE_DATE, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d")

In [4]:
with open('src/lambda/generate_ebay_table/generate_ebay_table.sql', 'r') as file:
    query = file.read()

In [5]:
import time
import boto3

# Initialize a session using Boto3
session = boto3.Session()
athena_client = session.client("athena", region_name="eu-west-2", aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY, aws_session_token=AWS_SESSION_TOKEN)

# Define the parameters for the query execution
response = athena_client.start_query_execution(
    QueryString=query,
    QueryExecutionContext={"Database": "rtg_automotive"},
    WorkGroup="rtg-automotive-workgroup",
)

query_execution_id = response["QueryExecutionId"]
# Wait for the query to complete
while True:
    query_status = athena_client.get_query_execution(
        QueryExecutionId=query_execution_id
    )
    status = query_status["QueryExecution"]["Status"]["State"]
    if status in ["SUCCEEDED", "FAILED", "CANCELLED"]:
        break

if status == "SUCCEEDED":
    # Get the results
    results = athena_client.get_query_results(QueryExecutionId=query_execution_id)
    print(results["ResultSet"]["Rows"][:5])
    time.sleep(10)
else:
    print("Query failed with status: {status}")

[{'Data': [{'VarCharValue': 'ebay_store'}, {'VarCharValue': 'supplier'}, {'VarCharValue': 'custom_label'}, {'VarCharValue': 'quantity'}, {'VarCharValue': 'quantity_delta'}, {'VarCharValue': 'updated_date'}, {'VarCharValue': 'item_id'}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR104'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR108'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR109'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}, {'Data': [{}, {'VarCharValue': 'APE'}, {'VarCharValue': 'UKD-APE-ABR110'}, {'VarCharValue': '10'}, {'VarCharValue': '0'}, {'VarCharValue': '2024-10-08'}, {}]}]

In [6]:
def get_last_athena_result(bucket_name: str) -> str:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    # List objects in the specified S3 bucket
    response = s3_client.list_objects_v2(Bucket=bucket_name, Prefix="athena-results/")
    
    if 'Contents' not in response:
        raise Exception("No files found in the bucket.")
    
    # Find the most recently updated CSV file
    latest_file = None
    latest_time = None
    
    for obj in response['Contents']:
        if obj['Key'].endswith('.csv'):
            if latest_time is None or obj['LastModified'] > latest_time:
                latest_time = obj['LastModified']
                latest_file = obj['Key']
    
    if latest_file is None:
        raise Exception("No CSV files found in the bucket.")
    
    return latest_file

In [7]:
import pandas as pd
from io import StringIO

def get_file_from_s3(bucket_name: str, object_key: str) -> pd.DataFrame:
    s3_client = boto3.client("s3", 
                              aws_access_key_id=AWS_ACCESS_KEY_ID, 
                              aws_secret_access_key=AWS_SECRET_ACCESS_KEY, 
                              aws_session_token=AWS_SESSION_TOKEN)
    
    response = s3_client.get_object(Bucket=bucket_name, Key=object_key)
    csv_bytes = response['Body'].read()
    return pd.read_csv(StringIO(csv_bytes.decode('utf-8')))

In [8]:
csv_file_path = get_last_athena_result(BUCKET_NAME)

In [9]:
df = get_file_from_s3(BUCKET_NAME, csv_file_path)

In [10]:
df

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
0,NaN,APE,UKD-APE-ABR104,10,0.0,2024-10-08,NaN
1,NaN,APE,UKD-APE-ABR108,10,0.0,2024-10-08,NaN
2,NaN,APE,UKD-APE-ABR109,10,0.0,2024-10-08,NaN
3,NaN,APE,UKD-APE-ABR110,10,0.0,2024-10-08,NaN
4,NaN,APE,UKD-APE-ABR116,10,0.0,2024-10-08,NaN
...,...,...,...,...,...,...,...
286232,NaN,SMP,UKD-SMP-WS1270,10,0.0,2024-10-08,NaN
286233,NaN,SMP,UKD-SMP-WS1280,10,0.0,2024-10-08,NaN
286234,NaN,SMP,UKD-SMP-WVL005,10,0.0,2024-10-08,NaN
286235,NaN,SMP,UKD-SMP-WVL006,10,0.0,2024-10-08,NaN
286236,NaN,SMP,UKD-SMP-WVL010,10,0.0,2024-10-08,NaN

In [11]:
import os

# Create the directory if it doesn't exist
output_directory = f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}"
os.makedirs(output_directory, exist_ok=True)

df.to_csv(f"{output_directory}/ebay.csv", index=False)

In [12]:
app_upload = df[df["quantity_delta"] > 0].dropna()

In [13]:
app_upload

,ebay_store,supplier,custom_label,quantity,quantity_delta,updated_date,item_id
93463,RTG,RTG,085/5-BK,20,20.0,2024-10-08,1.751830e+11
93464,RTG,RTG,085/5-BK,20,20.0,2024-10-08,1.751830e+11
93465,RTG,RTG,085/5-BK,20,20.0,2024-10-08,1.751830e+11
93466,RTG,RTG,085/5-BK,20,20.0,2024-10-08,1.751830e+11
93467,RTG,RTG,085/5-BK,20,20.0,2024-10-08,1.751830e+11
...,...,...,...,...,...,...,...
278637,RTG,RTG,ETC6,20,20.0,2024-10-07,1.549323e+11
278638,RTG,RTG,ETC6,20,20.0,2024-10-07,1.549273e+11
278639,RTG,RTG,ETC6,20,20.0,2024-10-07,1.549273e+11
278640,RTG,RTG,ETC6,20,20.0,2024-10-07,1.546200e+11
278641,RTG,RTG,ETC6,20,20.0,2024-10-07,1.546200e+11

In [16]:
rtg_upload = pd.read_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/old_stock_uploads/{NEXT_DATE.replace('-', '_')}/SU RTG.csv").dropna()

In [17]:
rtg_upload

       Action        ItemID SiteID Currency  Quantity
0      Revise  1.548784e+11     UK      GBP      20.0
1      Revise  1.751830e+11     UK      GBP      20.0
2      Revise  1.548784e+11     UK      GBP      20.0
3      Revise  1.548784e+11     UK      GBP      20.0
4      Revise  1.751830e+11     UK      GBP      20.0
...       ...           ...    ...      ...       ...
28101  Revise  1.660463e+11     UK      GBP      20.0
28102  Revise  1.756984e+11     UK      GBP      20.0
28103  Revise  1.757268e+11     UK      GBP      20.0
28104  Revise  1.757165e+11     UK      GBP      20.0
28105  Revise  1.757268e+11     UK      GBP      20.0

[28106 rows x 5 columns]

In [18]:
inspect_df = pd.merge(app_upload, rtg_upload, left_on="item_id", right_on="ItemID", how="left")
inspect_df = inspect_df[inspect_df["ebay_store"] == "RTG"].dropna()
inspect_df["difference"] = inspect_df["quantity_delta"] - inspect_df["Quantity"]
inspect_df.to_csv(f"/Users/chrislittle/Dropbox/#Speedsheet/app_checker/{NEXT_DATE.replace('-', '_')}/inspect_df.csv", index=False)