In [24]:
df = pd.read_csv("data/tables/supplier_stock.csv")

In [25]:
df

          custom_label part_number supplier  quantity last_updated
0       UKD-APE-ABR101      ABR101      APE        10   2024-09-10
1       UKD-APE-ABR102      ABR102      APE        10   2024-09-10
2       UKD-APE-ABR103      ABR103      APE        10   2024-09-10
3       UKD-APE-ABR104      ABR104      APE        10   2024-09-10
4       UKD-APE-ABR105      ABR105      APE        10   2024-09-10
...                ...         ...      ...       ...          ...
253592  UKW-KYB-633730      633730      FPS         3   2024-09-10
253593  UKW-KYB-633827      633827      FPS         4   2024-09-10
253594  UKW-KYB-663004      663004      FPS         2   2024-09-10
253595  UKW-KYB-665008      665008      FPS         0   2024-09-10
253596  UKW-KYB-665502      665502      FPS         0   2024-09-10

[253597 rows x 5 columns]

In [26]:
df.drop_duplicates(subset=["part_number", "supplier"])

          custom_label part_number supplier  quantity last_updated
0       UKD-APE-ABR101      ABR101      APE        10   2024-09-10
1       UKD-APE-ABR102      ABR102      APE        10   2024-09-10
2       UKD-APE-ABR103      ABR103      APE        10   2024-09-10
3       UKD-APE-ABR104      ABR104      APE        10   2024-09-10
4       UKD-APE-ABR105      ABR105      APE        10   2024-09-10
...                ...         ...      ...       ...          ...
253474    UKW-BOS-SP20        SP20      FPS        10   2024-09-10
253476    UKW-BOS-SP22        SP22      FPS        10   2024-09-10
253477    UKW-BOS-SP23        SP23      FPS        10   2024-09-10
253480    UKW-BOS-SP26        SP26      FPS        10   2024-09-10
253501  UKW-KYB-334698      334698      FPS         5   2024-09-10

[247138 rows x 5 columns]

In [29]:
df[df.duplicated(subset=["part_number", "supplier"], keep=False)]

           custom_label part_number supplier  quantity last_updated
6049    UKD-APE-PBD8001     PBD8001      APE        10   2024-09-10
6050    UKD-APE-PBD8002     PBD8002      APE        10   2024-09-10
6051    UKD-APE-PBD8003     PBD8003      APE        10   2024-09-10
6052    UKD-APE-PBD8004     PBD8004      APE        10   2024-09-10
6053    UKD-APE-PBD8005     PBD8005      APE        10   2024-09-10
...                 ...         ...      ...       ...          ...
253592   UKW-KYB-633730      633730      FPS         3   2024-09-10
253593   UKW-KYB-633827      633827      FPS         4   2024-09-10
253594   UKW-KYB-663004      663004      FPS         2   2024-09-10
253595   UKW-KYB-665008      665008      FPS         0   2024-09-10
253596   UKW-KYB-665502      665502      FPS         0   2024-09-10

[12489 rows x 5 columns]

In [31]:
df[df["part_number"] == "PBD8003"]

         custom_label part_number supplier  quantity last_updated
6051  UKD-APE-PBD8003     PBD8003      APE        10   2024-09-10
7793  UKD-NAP-PBD8003     PBD8003      APE        10   2024-09-10