In [1]:
import pandas as pd
from sqlalchemy import create_engine

def create_mysql_engine(user, password, host, port, database):
    """
    Create and return a SQLAlchemy engine for MySQL connection.

    Args:
    user (str): MySQL username
    password (str): MySQL password
    host (str): MySQL host address
    port (str): MySQL port number
    database (str): MySQL database name

    Returns:
    sqlalchemy.engine.base.Engine: SQLAlchemy engine object
    """
    # Create a SQLAlchemy engine
    engine = create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')
    return engine

# Usage example:
engine = create_mysql_engine('admin', 'password', 'rtg-automotive-db.c14oos6givty.eu-west-2.rds.amazonaws.com', '3306', 'rtg_automotive')

# product = pd.read_csv("product_df.csv")
# product.to_sql('product', con=engine, if_exists='replace', index=False)

253594