In [10]:
import pandas as pd

ebay_df = pd.read_csv("ebay_df.csv")
store_df = pd.read_csv("store_df.csv")
product_df = pd.read_csv("product_df.csv")
ams_df = pd.read_csv("store_data/AMS.csv")

In [11]:
# import sqlite3

# def read_from_sqlite(table_name, db_path="data.db"):
#     conn = sqlite3.connect(db_path)
#     df = pd.read_sql(f"SELECT * FROM {table_name}", conn)
#     conn.close()
#     return df

# supplier_stock_df = read_from_sqlite("supplier_stock")
# supplier_stock_df.drop_duplicates(subset=["stock_id"], inplace=True)

# supplier_stock_df.to_csv("supplier_stock.csv", index=False)

supplier_stock_df = pd.read_csv("supplier_stock.csv")

In [12]:
df_merged = pd.merge(product_df, ams_df, on="custom_label", how="inner")

In [13]:
df_merged

,product_id,part_number,custom_label,supplier,last_updated,item_id,brand,current_quantity
0,BMC-UKD-BMC-ACCORDKIT,UKD-BMC-ACCORDKIT,UKD-BMC-ACCORDKIT,BMC,2024-05-04 06:08:45,326137738117,BMC Kits,10
1,BMC-UKD-BMC-ACCORDKIT1,UKD-BMC-ACCORDKIT1,UKD-BMC-ACCORDKIT1,BMC,2024-05-04 06:08:45,326137738122,BMC Kits,10
2,BMC-UKD-BMC-ACCORDKIT2,UKD-BMC-ACCORDKIT2,UKD-BMC-ACCORDKIT2,BMC,2024-05-04 06:08:45,335406938300,BMC Kits,10
3,BMC-UKD-BMC-ACCORDKIT3,UKD-BMC-ACCORDKIT3,UKD-BMC-ACCORDKIT3,BMC,2024-05-04 06:08:45,326137738116,BMC Kits,10
4,BMC-UKD-BMC-ACCORDKIT4,UKD-BMC-ACCORDKIT4,UKD-BMC-ACCORDKIT4,BMC,2024-05-04 06:08:45,326137738124,BMC Kits,10
...,...,...,...,...,...,...,...,...
44681,RTG-WWY55,WWY55,WWY55,RTG,2024-05-04 06:08:45,226159361991,Ikio,20
44682,RTG-WWY55,WWY55,WWY55,RTG,2024-05-04 06:08:45,226159361992,Ikio,20
44683,RTG-WWY55,WWY55,WWY55,RTG,2024-05-04 06:08:45,335406942655,Ikio,20
44684,RTG-WWY8X2,WWY8X2,WWY8X2,RTG,2024-05-04 06:08:45,324388393577,Base AMS,20
44685,RTG-WWY9X2,WWY9X2,WWY9X2,RTG,2024-05-04 06:08:45,324388393573,Base AMS,20

In [14]:
df_merged = pd.merge(df_merged, supplier_stock_df, on="product_id", how="inner")

In [15]:
df_merged

,product_id,part_number,custom_label,supplier,last_updated_x,item_id,brand,current_quantity,stock_id,quantity_raw,quantity,last_updated_y
0,RTG-A203,A203,A203,RTG,2024-05-04 06:08:45,334150473977,Base AMS,0,2024-08-06-RTG-A203,NaN,20.0,2024-08-06 19:25:12
1,RTG-A229,A229,A229,RTG,2024-05-04 06:08:45,224247969547,Base AMS,0,2024-08-06-RTG-A229,NaN,20.0,2024-08-06 19:25:12
2,RTG-A287,A287,A287,RTG,2024-05-04 06:08:45,225876693758,Base AMS,0,2024-08-06-RTG-A287,NaN,20.0,2024-08-06 19:25:12
3,RTG-A287,A287,A287,RTG,2024-05-04 06:08:45,226159362633,Ikio,0,2024-08-06-RTG-A287,NaN,20.0,2024-08-06 19:25:12
4,RTG-A287,A287,A287,RTG,2024-05-04 06:08:45,226159362625,Rampro,0,2024-08-06-RTG-A287,NaN,20.0,2024-08-06 19:25:12
...,...,...,...,...,...,...,...,...,...,...,...,...
3958,RTG-WWY34,WWY34,WWY34,RTG,2024-05-04 06:08:45,335406942625,Ikio,0,2024-08-06-RTG-WWY34,NaN,20.0,2024-08-06 19:25:12
3959,RTG-WWY40+WWY41,WWY40+WWY41,WWY40+WWY41,RTG,2024-05-04 06:08:45,326137742382,Rampro,0,2024-08-06-RTG-WWY40+WWY41,NaN,20.0,2024-08-06 19:25:12
3960,RTG-WWY40+WWY41,WWY40+WWY41,WWY40+WWY41,RTG,2024-05-04 06:08:45,224920765911,Ikio,0,2024-08-06-RTG-WWY40+WWY41,NaN,20.0,2024-08-06 19:25:12
3961,RTG-WWY41,WWY41,WWY41,RTG,2024-05-04 06:08:45,326137742372,Rampro,0,2024-08-06-RTG-WWY41,NaN,20.0,2024-08-06 19:25:12
3962,RTG-WWY41,WWY41,WWY41,RTG,2024-05-04 06:08:45,335406942647,Ikio,0,2024-08-06-RTG-WWY41,NaN,20.0,2024-08-06 19:25:12

RTG-A203	
RTG-WWY41

In [16]:
ebay_df

   Action     CustomLabel SiteID Currency  Quantity
0  Revise  UKD-APE-ABR101     UK      GBP        10
1  Revise  UKD-APE-ABR102     UK      GBP        10
2  Revise    UKD-COM-CS17     UK      GBP         3

In [17]:
stock_df

NameError: name 'stock_df' is not defined

In [ ]:
product_df[product_df["custom_label"] == "CS17"]

       product_id part_number custom_label supplier         last_updated
216594   RTG-CS17        CS17         CS17      RTG  2024-05-04 06:08:45

In [ ]:
df = pd.merge(store_df, product_df, on="custom_label", how="left")

In [ ]:
df[df["custom_label"] == "CS17"]

,item_id,brand,custom_label,current_quantity,store,product_id,part_number,supplier,last_updated
3665,203606677155,Base AST,CS17,20,AST,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
3666,154933880053,Unova,CS17,20,AST,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
3667,154933880056,Unova,CS17,20,AST,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
3668,154933880057,Unova,CS17,20,AST,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
3669,154933880059,Unova,CS17,20,AST,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
...,...,...,...,...,...,...,...,...,...
640325,335406890779,Ikio,CS17,20,AMS,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
640326,335406890769,Ikio,CS17,20,AMS,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
640327,335406890786,Ikio,CS17,20,AMS,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
640328,335406890863,Ikio,CS17,20,AMS,RTG-CS17,CS17,RTG,2024-05-04 06:08:45
640329,335406890787,Ikio,CS17,20,AMS,RTG-CS17,CS17,RTG,2024-05-04 06:08:45

In [ ]:
df = pd.merge(df, stock_df, on="product_id", how="inner")

In [18]:
import os
import pandas as pd

# Get all CSV files from store_data folder
csv_files = [f for f in os.listdir('store_data') if f.endswith('.csv')]

# Initialize an empty list to store dataframes
dfs = []

# Read each CSV file and add a 'store' column
for file in csv_files:
    store_name = file.split('.')[0]  # Get store name from file name
    df = pd.read_csv(os.path.join('store_data', file))
    df['store'] = store_name
    dfs.append(df)

# Concatenate all dataframes
store_df = pd.concat(dfs, ignore_index=True)

# Save the combined dataframe to a new CSV file
store_df.to_csv('store_df.csv', index=False)

print(f"Combined {len(csv_files)} store files into store_df.csv")
print(store_df.head())

/var/folders/8j/qdfkl38s5p11l966skbxw4300000gn/T/ipykernel_15776/4062621561.py:13: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join('store_data', file))

Combined 10 store files into store_df.csv
        item_id       brand custom_label  current_quantity store  Unnamed: 4
0  1.259848e+11  Base Orius         A286              20.0    OR         NaN
1  1.158392e+11  Base Orius       A286x2              20.0    OR         NaN
2  1.261928e+11  Base Orius         A287               0.0    OR         NaN
3  1.261929e+11        Idea         A287               0.0    OR         NaN
4  1.159812e+11  Base Orius    A287+A288               0.0    OR         NaN

In [19]:
store_df.size

34087842