In [65]:
import pandas as pd

ebay_df = pd.read_csv("ebay_df.csv")
stock_df = pd.read_csv("stock_df.csv")
store_df = pd.read_csv("store_df.csv")
product_df = pd.read_csv("product_df.csv")

In [66]:
ebay_df

   Action     CustomLabel SiteID Currency  Quantity
0  Revise  UKD-APE-ABR101     UK      GBP        10
1  Revise  UKD-APE-ABR102     UK      GBP        10
2  Revise    UKD-COM-CS17     UK      GBP         3

In [67]:
stock_df

   product_id  quantity_delta updated_date  Quantity
0  APE-ABR101             5.0   2024-08-06      10.0
1  APE-ABR102             5.0   2024-08-06      10.0
2    COM-CS17             1.0   2024-08-06       3.0

In [68]:
product_df

        product_id part_number    custom_label supplier         last_updated
0       APE-ABR101      ABR101  UKD-APE-ABR101      APE  2024-05-04 06:08:45
1       APE-ABR102      ABR102  UKD-APE-ABR102      APE  2024-05-04 06:08:45
2       APE-ABR103      ABR103  UKD-APE-ABR103      APE  2024-05-04 06:08:45
3       APE-ABR104      ABR104  UKD-APE-ABR104      APE  2024-05-04 06:08:45
4       APE-ABR105      ABR105  UKD-APE-ABR105      APE  2024-05-04 06:08:45
...            ...         ...             ...      ...                  ...
253589  SMP-WVL006      WVL006  UKD-SMP-WVL006      SMP  2024-05-04 06:08:45
253590  SMP-WVL008      WVL008  UKD-SMP-WVL008      SMP  2024-05-04 06:08:45
253591  SMP-WVL009      WVL009  UKD-SMP-WVL009      SMP  2024-05-04 06:08:45
253592  SMP-WVL010      WVL010  UKD-SMP-WVL010      SMP  2024-05-04 06:08:45
253593  SMP-WVL011      WVL011  UKD-SMP-WVL011      SMP  2024-05-04 06:08:45

[253594 rows x 5 columns]

In [72]:
pd.merge(product_df, stock_df, on="product_id", how="inner")

,product_id,part_number,custom_label,supplier,last_updated,quantity_delta,updated_date,Quantity
0,APE-ABR101,ABR101,UKD-APE-ABR101,APE,2024-05-04 06:08:45,5.0,2024-08-06,10.0
1,APE-ABR102,ABR102,UKD-APE-ABR102,APE,2024-05-04 06:08:45,5.0,2024-08-06,10.0
2,COM-CS17,CS17,UKD-COM-CS17,COM,2024-05-04 06:08:45,1.0,2024-08-06,3.0